.header {
    margin-top: 20px;
    /* border: 1px solid; */
}

.search_btn {
    display: flex;
    justify-content: space-between;
}

.search {
    border: 2px solid rgba(128, 128, 128, 1);
    width: 450px;
    border-radius: 20px;
    position: relative;
    opacity: 0.5;
    /* width: 140px; */
    height: 56px;
    overflow: hidden;
    background: rgba(128, 128, 128, 1);

}
.search input{
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    padding-left: 20px;
    /* border-radius: 20px; */
    border: none;
    outline: none;

    
}

.search img {
    position: absolute;
    top: 17px;
    right: 20px;
    width: 20px;
    
}

.search_btn button {
    width: 140px;
    height: 56px;
    border-radius: 20px;
    background: #FF9933;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    border: none;
}
.name{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */
flex-wrap: wrap;
justify-content: space-evenly;


color: #606060;
}
.name p{
    transition: all .4s ease;
    margin: 10px;

}
.name p:hover{
    transform: translate3D(0,-1px,0) scale(1.2);
    transition: all .4s ease;
    cursor: pointer;

}
@media only screen and (max-width:720px) {
    .search {
        width: 50%;
    }
    
}
@media only screen and (max-width:550px) {
.search_btn{
    /* justify-content: ; */
    align-items: center;
    height: 130px;
    flex-direction: column-reverse;
}
.search {
    width: 100%;
}
}
